$primary-blue: rgb(71, 97, 177);
$secondary-blue: rgba(131, 148, 200, 1);
$primary-green: rgb(34, 180, 172);
$secondary-green: rgba(119, 206, 201, 1);
$primary-orange: rgba(136, 104, 22, 1);
$primary-grey: rgb(239, 239, 239);

.navbar {
	color: #fff;
}

li {
	border-right: 1px solid black;
	line-height: 3px;
}

.no-border {
	border-right: none;
}

li:hover{
	cursor: pointer;
	background-color: rgba(119, 206, 201, 3);
}