<navbar SideClass="navbar navbar-toggleable-md navbar-light cyan lighten-4">

    <logo><a class="logo navbar-brand" routerLink="/homepage"><img src="../../../assets/demdi-nav-logo.png" height="30"></a></logo> 
    <links>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/classroom">Teachers</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/community">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>
            <li class="nav-item no-border">
                <a class="nav-link">Login/Register</a>
            </li>
        </ul>
    </links>
</navbar>
