<div class="container-fluid" 
	id="header"
	style="background-image: 
	        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
			url('../../assets/community_header.jpeg');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	    height: 600px;">
	<h1>demdi community</h1>
	<h2>Learn English, Make Friends, Have Fun.</h2>
	<button [routerLink]="['/student-login']" type="button" class="btn btn-primary" ripple-radius>Login/Register</button>
</div>

<div class="container" style="text-align: center;" id="about">
	<img src="../../assets/globe.png" class="wow rotateIn">
	<h2>The Demdi Community</h2>
	<p>Connect with English learning students just like you <b>TODAY</b>!</p>
	<p>It only takes 3 steps</p>
</div>

<hr>

<div class="container" style="text-align: center;">
	<div class="row">
		<div class="col-xs-12 col-md-4" id="step1">
			<img src="../../assets/teachers.png" class="wow fadeInDown">
			<h2>Step 1</h2>
			<p><b>Register</b></p>
			<p>If you don't have an account, ask your teacher for a registration link.</p>
		</div>
		<div class="col-xs-12 col-md-4" id="step2">
			<img src="../../assets/profile-icon.png" class="wow fadeInDown">
			<h2>Step 2</h2>
			<p><b>Create Profile</b></p>
			<p>Let others get to know you a bit. Add a picture, your interests/likes, and social media info.</p>
		</div>
		<div class="col-xs-12 col-md-4" id="step3">
			<img src="../../assets/gettingalong.png" class="wow fadeInDown">
				<h2>Step 3</h2>
				<p><b>Enjoy!</b></p>
				<p>You're all set, contribute as often as you like, remember to respect others.</p>
		</div>
	</div>
</div>

<div class="container-fluid"
	id="create-post" 
	style="background-image: 
	        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
			url('../../assets/school-desk.jpg');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	    height: 300px;">
	<h2>Learning isn't only in the classroom</h2>
	<p>Start a discussion or simply say what's on your mind</p>
	<button class="btn btn-primary">New Post</button>
</div>