<div class="container">
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="h1-responsive">Good Afternoon!</h1>
            <p class="lead">Choose from one of your classes.</p>
            <hr class="my-2">
            <p>Teaching a new one? </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" role="button" ripple-radius>Add Class</a>
            </p>
        </div>
    </div>
    
    <div class="container" style="padding: 25px;">
        <div class="row">
            <div class="col-md-6">
                <!--Card Default-->
                <div class="card default-color text-center z-depth-2">
                    <a routerLink="/classroom">
                        <div class="card-block">
                            <p class="white-text">Class 102</p>
                        </div>
                    </a>
                </div>
                <!--/.Card Default-->
            </div>
            <div class="col-md-6">
                <!--Card Success-->
                <div class="card card-success text-center z-depth-2">
                    <a routerLink="/classroom">
                        <div class="card-block">
                            <p class="white-text">Class 301</p>
                        </div>
                    </a>
                </div>
                <!--/.Card Success-->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <!--Card Danger-->
                <div class="card card-danger text-center z-depth-2">
                    <a routerLink="/classroom">
                        <div class="card-block">
                            <p class="white-text">Class 204</p>
                        </div>
                    </a>
                </div>
                <!--/.Card Danger-->
            </div>
            <div class="col-md-6">
                <!--Card Primary-->
                <div class="card card-primary text-center z-depth-2">
                    <a routerLink="/classroom">
                        <div class="card-block">
                            <p class="white-text">Class 101</p>
                        </div>
                    </a>
                </div>
                <!--/.Card Primary-->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <!--Card Info-->
                <div class="card card-info text-center z-depth-2">
                    <a routerLink="/classroom">
                        <div class="card-block">
                            <p class="white-text">Class 302</p>
                        </div>
                    </a>
                </div>
                <!--/.Card Info-->
            </div>
            <div class="col-md-6">
                <!--Card Warning-->
                <div class="card card-warning text-center z-depth-2">
                    <a routerLink="/classroom">
                        <div class="card-block">
                            <p class="white-text">Class 402</p>
                        </div>
                    </a>
                </div>
                <!--/.Card Warning-->
            </div>
        </div>
    </div>
</div>