$primary-blue: Rgb(71, 97, 177);
$primary-green: Rgb(43, 186, 178);
$secondary-green: Rgb()96, 198, 193;
$primary-orange: Rgb(210, 169, 116);
$primary-grey: Rgb(240, 240, 240);
.jumbotron{
	margin: 21px;
}